{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block hero_title %}Добро пожаловать на наш сайт!{% endblock %}
{% block hero_subtitle %}Лучший ресурс для обучения Django{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="form-container">
        <!-- Заголовок формы -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0">
                <i class="bi bi-plus-circle"></i> Новая транзакция
            </h1>
            <a href="{% url 'finance:finance' %}" class="btn btn-back text-white">
                <i class="bi bi-arrow-left"></i> Назад
            </a>
        </div>

        <!-- Форма -->
        <form method="post">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}

            </ul>

            <div class="d-flex justify-content-start mt-4">
                <button type="reset" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i> Сбросить
                </button>
                <button type="submit" class="btn btn-submit text-black">
                    <i class="bi bi-check-circle"></i> Сохранить транзакцию
                </button>
            </div>
        </form>


    </div>
</div>
{{ block.super }}  <!-- Если нужно сохранить контент из родительского шаблона -->
{% endblock %}