{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block hero_title %}Добро пожаловать на наш сайт!{% endblock %}
{% block hero_subtitle %}Лучший ресурс для обучения Django{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1 class="text-center mb-4">Менеджер задач</h1>

    <div class="row">
        <!-- Колонка с невыполненными задачами -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <h5 class="card-title mb-0">Не выполненные задачи</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for task in active_task%}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'task_manager:detail' task.id%}">{{task}}</a>
                            <a href="{% url 'task_manager:completed' task.id%}" class="btn btn-sm btn-success">Выполнить</a>
                        </li>
                        {%endfor%}

                    </ul>
                </div>
            </div>
        </div>

        <!-- Колонка с выполненными задачами -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title mb-0">Выполненные задачи</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for task in completed_tasks%}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'task_manager:detail' task.id%}">{{task}}</a>
                            <a href="{% url 'task_manager:completed' task.id%}" class="btn btn-sm btn-success">Вернуть в работу</a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок с кнопками -->
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center gap-3">
            <a href="{% url 'task_manager:task_create'%}" class="btn btn-primary">Добавить задачу</a>
        </div>
    </div>
</div>


{{ block.super }}  <!-- Если нужно сохранить контент из родительского шаблона -->
{% endblock %}